@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
#time{
  font-size: 8rem;
  color: #fff;
  text-shadow: 0 2px 5px rgba(0,0,0,.7);
}
h1{
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 2px 5px rgba(0,0,0,.7);
  margin-bottom: 3rem;
}
h2{
  color: #fff;
  text-shadow: 0 2px 5px rgba(0,0,0,.7);
}
@media screen and (max-width: 576px){
  #time{
   font-size: 4rem;
  }
  h1{
   font-size: 1.8rem;
  }
  h2{
       font-size: 1.3rem;
  }
  
}